<div class="container">
  <h1> <%= @cocktail.name %> </h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= cl_image_tag @cocktail.photo, height: 400, width: 500, crop: :fill %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3>List of Ingredients</h3>
        <ul>
        <% @cocktail.doses.each do |dose| %>
            <li>
              <%= dose.ingredient.name %>
              -
              <%= dose.description %>
              <%= link_to "delete dose", dose_path(dose), method: :delete,
              data: { confirm: "Are you sure?" } %>
            </li>
          <% end %>
        </ul>
      <%= link_to "Create A Dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
      <%= link_to "Go Back To The Cocktail List", cocktails_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>


